/*@import url('http://fonts.googleapis.com/css?family=Play');
*/

body {
background: #000;
font-weight: 300;
font-size: 16px;
color: #555;
line-height: 1.6em;
-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
}

.logo {
margin-left: -30px !important;
}

h1 {
font-size: 70px !important;
/*font-family: 'Play', sans-serif;*/
/*color: #ffa471 !important;*/
}

a {
color: #ACBAC1;
word-wrap: break-word;
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
color: #4F92AF;
text-decoration: none;
outline: 0;
}

a:before,
a:after {
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alignleft {
text-align: left;
}
.alignright {
text-align: right;
}

.aligncenter {
text-align: center;
}

.btn {
display: inline-block;
padding: 10px 20px;
margin-bottom: 20px;
font-size: 24px;
font-weight: normal;
line-height: 1.428571429;
text-shadow: 1px 1px #333;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 0;
}

.btn-theme  {
color: #fff;
background-color: #4F92AF;
border-color: #4F92AF;
}
.btn-theme:hover  {
color: #fff;
background-color: #444;
border-color: #444;
}

::-webkit-input-placeholder { color: #3a414c !important; }

#wrapper {
text-align: center;
padding: 0 !important;
background: url(../img/space.jpg) no-repeat center top;
background-attachment: relative;
background-position: center center;
min-height: 650px;
width: 100%;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#wrapper h1 {
color: #fff;
font-size: 45px;
font-weight: 900;
letter-spacing: -1px;
}

h2.subtitle {
color: #fff;
font-size: 24px;
}

/* future countdown */
#countdown {
font-size: 48px;
color: #fff;
line-height: 1.1em;
margin: 40px 0 60px;
}

p.copyright {
margin-top: 50px;
color: #fff;
text-align: center;
}
