/*@import url('http://fonts.googleapis.com/css?family=Play');
*/

body {
background: #000;
font-weight: 300;
font-size: 16px;
color: #555;
line-height: 1.6em;
-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
}

.logo {
width: 100% !important;
max-width: 800px !important;
}

a {
color: #ACBAC1;
word-wrap: break-word;
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
color: #4F92AF;
text-decoration: none;
outline: 0;
}

a:before,
a:after {
-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
-o-transition: color 0.1s ease-in, background 0.1s ease-in;
transition: color 0.1s ease-in, background 0.1s ease-in;
}

.alignleft {
text-align: left;
}
.alignright {
text-align: right;
}

.aligncenter {
text-align: center;
}

.btn {
display: inline-block;
padding: 10px 20px;
margin-bottom: 50px;
font-size: 24px;
font-weight: normal;
line-height: 1.428571429;
text-shadow: 1px 1px #333;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 0;
margin-top: 110px;
}

::-webkit-input-placeholder { color: #3a414c !important; }

h1 {
padding-top: 10px;
}

#info {
color: #bad7e2;
font-size: 18px;

}

#infoTopic {
color: #77c3e2;
padding-left: 30px;
padding-right: 30px;
font-weight: 900;
}

#details {
padding: 0px 10px;
color: #fff;

}
#wrapper {
text-align: center;
margin-bottom: 100px;
background: url(../img/space.jpg) no-repeat center top;
background-attachment: relative;
background-position: center center;
min-height: 600px;
width: 100%;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* future countdown */
#countdown {
font-size: 48px;
color: #fff;
line-height: 1.1em;
margin: 40px 0 60px;
}

#hInfo {
margin-top: 80px;
color: #fff;
text-align: center;
padding-bottom: 80px;
}

h3 {
color: #e6f6fc;
font-size: 22px;
padding-bottom: 20px;
margin-left: 10px;
margin-top: 40px;
}

h2 {
color: #b7cbd3;
}

h5 {
margin-top: -15px;
color: #fff;
}

a.sponsor {
border-bottom: 1px dotted #fff;
text-decoration: none;
font-weight: 700;
color: #fff;
}

a.sponsor:hover{
border-bottom: 1px dotted #4F92AF;
color: #4F92AF;
}